@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo base */
body {
  @apply bg-neutral-bg text-slate-700 font-sans antialiased;
}

h1, h2, h3, h4 {
  @apply font-serif text-primary-900;
}